/*******************************************************************************************/
/*******************************************************************************************/
/************************************[ SCROLLBAR ]******************************************/
/*******************************************************************************************/
/*******************************************************************************************/


::-webkit-scrollbar {width: 6px; height: 6px;}
::-webkit-scrollbar-track {background: rgb(0, 0, 0);}
::-webkit-scrollbar-thumb {background: hsl(var(--clr-main));}
::-webkit-scrollbar-thumb:hover {background: hsl(var(--clr-main), 0.5);}
::-webkit-scrollbar-thumb:active{background: hsl(var(--clr-main), 0.8);}

